html
  head
    title='PS FTW'
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello from Pluralsight
        p We hope you're enjoying learning Docker and Kubernetes!
        p 
          a.btn.btn-primary(href="https://www.amazon.com/Quick-Start-Kubernetes-Nigel-Poulton-ebook/dp/B08T21NW4Z/ref=sr_1_1?dchild=1&keywords=quick+start+kubernetes&qid=1625132469&sr=8-1" target="_blank") Quick Start Kubernetes

          a.btn.btn-outline-primary(href="https://www.amazon.com/Kubernetes-Book-Version-November-2018-ebook/dp/B072TS9ZQZ/ref=sr_1_1?dchild=1&keywords=the+kubernetes+book&qid=1625132902&sr=8-1" target="_blank") The Kubernetes Book          
          
          a.btn.btn-primary(href="https://www.amazon.com/Docker-Deep-Dive-Nigel-Poulton/dp/1521822808/ref=sr_1_2?dchild=1&keywords=docker&qid=1625132509&sr=8-2" target="_blank") Docker Deep Dive
        p
        p Be careful. The last time I updated the packages in this app was July 2021.
