html
  head
    title='PS FTW'
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello from venkat sunny
        p We hope you're anjoying learning Docker and Kubernetes!
        
