html
  head
    title='PS FTW'
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello from Pluralsight
        p We hope you're enjoying learning Docker and Kubernetes!
        p 
          a.btn.btn-primary(href="https://www.amazon.com/Kubernetes-Book-Nigel-Poulton/dp/1521823634/ref=sr_1_3?ie=UTF8&qid=1531240306&sr=8-3&keywords=nigel+poulton") The Kubernetes Book
          
          a.btn.btn-outline-primary(href="https://www.amazon.com/The-Kubernetes-Book-dp-B07Q8QH7DL/dp/B07Q8QH7DL/ref=mt_audio_download?_encoding=UTF8&me=&qid=1531240306") Audible version
